
.RoutineCard {
margin-top: 20px;
padding-right: 350px;
padding-left: 350px;
} 

.card {
  background-color: darkcyan;
  border: 3px solid black;
  color: whitesmoke;
}

#profileHeader {
        background-color: darkcyan;
        color: white;
        border: black 4px solid;
    }