body {
  display: block;
}

.RoutineStretchCard {
  margin-top: 20px;
}

.routineLinks {
  margin-top: 10px;
}

.btn {
  border: 2px solid black;
} 

#routineHeader {
    background-color: darkcyan;
    color: white;
    border: black 4px solid;
}

.Routine {
    min-width: 75%;
}