body {
  display: block;
}

.StretchCard {
  margin-top: 20px;
}

#disclaimer {
    color: skyblue;
}

#stretchesHeader {
    background-color: darkcyan;
    color: white;
    border: black 4px solid;
}